<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Confirm</key>
	<string>確認</string>
	<key>Cancel</key>
	<string>取消</string>
	<key>SelectLang</key>
	<string>選擇語言</string>
	<key>SelectThemeColor</key>
	<string>選擇主題顏色</string>
	<key>English</key>
	<string>英语</string>
	<key>Simplified_Chinese</key>
	<string>簡體中文</string>
	<key>Traditional_Chinese</key>
	<string>繁體中文</string>
	<key>Home</key>
	<string>主頁</string>
	<key>Me</key>
	<string>我</string>
	<key>Subscribe</key>
	<string>訂閱</string>
	<key>Note</key>
	<string>筆記</string>
	<key>Search</key>
	<string>搜索</string>
	<key>Welcome</key>
	<string>歡迎使用KNews APP</string>
	<key>Login</key>
	<string>登錄</string>
	<key>Register</key>
	<string>註冊</string>
	<key>LoginError</key>
	<string>賬號或密碼錯誤</string>
	<key>RegisterError</key>
	<string>用戶名已存在</string>
	<key>RegisterNow</key>
	<string>沒有賬號? Register Now!</string>
	<key>Refresh</key>
	<string>下拉更新</string>
	<key>ViewComment</key>
	<string>查看評論</string>
	<key>AddComment</key>
	<string>添加評論</string>
	<key>Send</key>
	<string>發送</string>
	<key>LikeNum</key>
	<string>喜歡: %i</string>
	<key>DislikeNum</key>
	<string>不喜歡: %i</string>
	<key>PublisherStmt</key>
	<string>出版商: %@</string>
	<key>AuthorStmt</key>
	<string>作者: %@</string>
</dict>
</plist>
