<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Confirm</key>
	<string>Confirm</string>
	<key>Cancel</key>
	<string>Cancel</string>
	<key>SelectLang</key>
	<string>Select Language</string>
	<key>SelectThemeColor</key>
	<string>Select Theme Color</string>
	<key>English</key>
	<string>English</string>
	<key>Simplified_Chinese</key>
	<string>Simplified Chinese</string>
	<key>Traditional_Chinese</key>
	<string>Traditional Chinese</string>
	<key>Home</key>
	<string>Home</string>
	<key>Me</key>
	<string>Me</string>
	<key>Subscribe</key>
	<string>Subscribe</string>
	<key>Note</key>
	<string>Note</string>
	<key>Search</key>
	<string>Search</string>
	<key>Welcome</key>
	<string>Welcome to KNews APP</string>
	<key>Login</key>
	<string>Login</string>
	<key>Register</key>
	<string>Register</string>
	<key>LoginError</key>
	<string>Name or password is incorrect</string>
	<key>RegisterError</key>
	<string>Name already exists</string>
	<key>RegisterNow</key>
	<string>New to KNews? Register Now!</string>
</dict>
</plist>
