<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Confirm</key>
	<string>Confirm</string>
	<key>Cancel</key>
	<string>Cancel</string>
	<key>Save</key>
	<string>Save</string>
	<key>Delete</key>
	<string>Delete</string>
	<key>SelectLang</key>
	<string>Select Language</string>
	<key>SelectThemeColor</key>
	<string>Select Theme Color</string>
	<key>English</key>
	<string>English</string>
	<key>Simplified_Chinese</key>
	<string>Simplified Chinese</string>
	<key>Traditional_Chinese</key>
	<string>Traditional Chinese</string>
	<key>Home</key>
	<string>Home</string>
	<key>Me</key>
	<string>Me</string>
	<key>Subscribe</key>
	<string>Subscribe</string>
	<key>Note</key>
	<string>Note</string>
	<key>Search</key>
	<string>Search</string>
	<key>Welcome</key>
	<string>Welcome to KNews APP</string>
	<key>Login</key>
	<string>Login</string>
	<key>Register</key>
	<string>Register</string>
	<key>LoginError</key>
	<string>Name or password is incorrect</string>
	<key>RegisterError</key>
	<string>Name already exists</string>
	<key>RegisterNow</key>
	<string>New to KNews? Register Now!</string>
	<key>Refresh</key>
	<string>Pull to refresh</string>
	<key>ViewComment</key>
	<string>View Comment</string>
	<key>AddComment</key>
	<string>Add Comment</string>
	<key>Send</key>
	<string>Send</string>
	<key>LikeNum</key>
	<string>Like: %i</string>
	<key>DislikeNum</key>
	<string>Dislike: %i</string>
	<key>PublisherStmt</key>
	<string>Publisher: %@</string>
	<key>AuthorStmt</key>
	<string>Author: %@</string>
	<key>PublishedAtStmt</key>
	<string>Published at: %@</string>
	<key>AlertTitle</key>
	<string>Notice</string>
	<key>AddCommentAlertSuccessMsg</key>
	<string>Your comment is submitted successfully.</string>
	<key>DearUser</key>
	<string>Dear User</string>
	<key>UserID</key>
	<string>User ID: %i</string>
	<key>MeTableItem_0</key>
	<string>Subscribed Publisher</string>
	<key>MeTableItem_1</key>
	<string>Set Language</string>
	<key>MeTableItem_2</key>
	<string>Set Theme Color</string>
	<key>Publisher</key>
	<string>Publisher</string>
	<key>Subscribed</key>
	<string>Subscribed</string>
	<key>SaveNewsAlertSuccessMsg</key>
	<string>This news has been saved for later reading.</string>
	<key>SavedNews</key>
	<string>Saved News</string>
	<key>SavedPassage</key>
	<string>Saved Passage</string>
	<key>SavePassage</key>
	<string>Do you want to save the passage?</string>
</dict>
</plist>
